.Card_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 1px solid green;
  border-radius: 10px;
  box-sizing: border-box;
}

.memorized {
  background: green;
  color: white;
}
